body {
  background-image: url('../assents/fondoIndex.png');
  background-attachment: fixed;
  background-size: cover;
  color: #fff;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  text-align: center;
  background-color: #333;
  color: #fff;
  padding: 1rem;
}

nav {
  background-color: #333;
  padding: 10px 0;
}

nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  margin: 0 15px;
}

.nav-link {
  color: #ffffff;
  text-decoration: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

/* Footer */
footer {
  background-color: #333;
  color: #fff;
  padding: 15px 0;
  text-align: center;
  bottom: 0;
  width: 100%;
}

/* Nuevos estilos para las cards */
.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 10px;
}

.card {
  background-color: #2C1A10;
  border: 1px solid #684d29;
  border-radius: 10px;
  padding: 20px;
}

/* Estilo para las columnas en pantallas mayores o iguales a 768px */
@media (min-width: 768px) {
  .col-md-4 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}

.card h4 {
  margin-bottom: 10px;
}

.card p {
  margin-bottom: 15px;
}

/* Estilos para los botones */
.card-buttons {
  display: flex;
  justify-content: space-between;
}

.card-buttons span button {
  padding: 2px 8px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.add-to-cart {
  background-color: #007bff;
  color: #fff;
}

.increment-quantity {
  background-color: #28a745;
  color: #fff;
}

.decrement-quantity {
  background-color: crimson;
  color: #fff;
}

.delete-product {
  background-color: crimson;
  color: #fff;
  margin-left: 5px;
}

/* Estilos generales para el formulario */
#add-product-form {
  background-color: rgb(64, 62, 62);
  border: 1px solid #ced4da;
  border-radius: 10px;
  padding: 20px;
}

#add-product-form h2 {
  text-align: center;
  font-size: 1.8rem;
  margin-bottom: 20px;
  color: #e6e2e2;
}

#add-product-form .form-group {
  margin-bottom: 20px;
}

#add-product-form label {
  font-weight: bold;
  color: #e08236;
}

#add-product-form input[type="text"],
#add-product-form input[type="number"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ced4da;
  border-radius: 5px;
  font-size: 1rem;
  color: #333;
}

#add-product-form button {
  display: block;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #833c06;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#add-product-form button:hover {
  background-color: #0056b3;
}

/* Estilo para centrar el formulario */
.containerForm {
  display: flex;
  justify-content: center;
  align-items: center;
}

.containerForm main {
  width: 100%;
  max-width: 80%;
}

.sale-card {
  background-color: #895d07;
  border: 1px solid #ccc;
  padding: 1rem;
  margin-bottom: 1rem;
}
